In [68]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import re

In [69]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
543,tt0209475,35000000,94728529,The Wedding Planner,Jennifer Lopez|Matthew McConaughey|Justin Cham...,Adam Shankman,His big day is her big problem.,"Mary Fiore, San Francisco's premiere wedding p...",103,Comedy,Columbia Pictures Corporation|Intermedia Films...,1/26/2001,5.4,2001
1359,tt0443536,15000000,51053787,Hoodwinked!,Anne Hathaway|Glenn Close|Jim Belushi|Patrick ...,Cory Edwards|Todd Edwards|Tony Leech,Armed And Dangerously Dumb.,The recipes of candies of the goody shops have...,80,Animation|Comedy|Family,The Weinstein Company|Kanbar Entertainment|Blu...,12/16/2005,6.0,2005
259,tt1046173,175000000,302469017,G.I. Joe: The Rise of Cobra,Dennis Quaid|Channing Tatum|Marlon Wayans|Sien...,Stephen Sommers,"When all else fails, they don't.",From the Egyptian desert to deep below the pol...,118,Adventure|Action|Thriller|Science Fiction,Paramount Pictures|Spyglass Entertainment|Di B...,8/4/2009,5.7,2009
1104,tt0332379,35000000,131282949,The School of Rock,Jack Black|Joan Cusack|Mike White|Sarah Silver...,Richard Linklater,He just landed the gig of his life: 5th grade.,"Fired from his band and hard up for cash, guit...",108,Comedy|Music,Paramount Pictures,10/3/2003,6.6,2003
615,tt0373051,45000000,101702060,Journey to the Center of the Earth,Brendan Fraser|Josh Hutcherson|Anita Briem|Set...,Eric Brevig,Same Planet. Different World.,On a quest to find out what happened to his mi...,93,Action|Science Fiction|Adventure|Comedy|Family,New Line Cinema|Walden Media,7/10/2008,5.7,2008

In [70]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [71]:
answers = {} # Cоздадим словарь для ответов
data['profit'] = data['revenue'] - data['budget'] # Создадим столбец для расчета прибыли

# 1. У какого фильма из списка самый большой бюджет?

In [72]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

Решение:

In [73]:
big_budget = data[['original_title', 'budget']] # Выберем только те столбцы, которые нам нужны для решения.
big_budget.loc[(big_budget['budget'] == big_budget.budget.max())] # Выведем результат на экран.

                                  original_title     budget
723  Pirates of the Caribbean: On Stranger Tides  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [74]:
answers['2'] = 'Gods and Generals (tt0279111)' # +

Решение:

In [75]:
long_film = data[['original_title','runtime']] # Выберем только те столбцы, которые нам нужны для решения.
long_film.loc[(long_film['runtime'] == long_film.runtime.max())] # Выведем результат на экран.

         original_title  runtime
1157  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [76]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

Решение:

In [77]:
short_film = data[['original_title','runtime']] # Выберем только те столбцы, которые нам нужны для решения.
short_film.loc[(short_film['runtime'] == short_film.runtime.min())] # Выведем результат на экран.

      original_title  runtime
768  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [130]:
answers['4'] = '110' # +

Решение:

In [12]:
mean_film = data[['runtime']] # Выберем столбец, по которому будем считать среднее значение.
round(mean_film.mean()) # Посчитаем, округлим до целого числа и выведем на экран.

runtime    110.0
dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [78]:
answers['5'] = '107' # +

Решение:

In [79]:
median_film = data[['runtime']] # Выберем столбец, по которому будем считать среднее значение.
median_film.median() # Посчитаем и выведем на экран.

runtime    107.0
dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [80]:
answers['6'] = 'Avatar (tt0499549)' # +

Решение:

In [81]:
max_profit = data[['original_title','profit']] # Выберем только те столбцы, которые нам нужны для решения.
max_profit.loc[(max_profit['profit'] == max_profit.profit.max())] # Выведем результат на экран.

    original_title      profit
239         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [82]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

Решение:

In [83]:
min_profit = data[['original_title','profit']] # Выберем только те столбцы, которые нам нужны для решения.
min_profit.loc[(min_profit['profit'] == min_profit.profit.min())] # Выведем результат на экран.

       original_title     profit
1245  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [84]:
answers['8'] = '1478' # +

Решение:

In [85]:
good_profit = data[['original_title','profit']] # Выберем только те столбцы, которые нам нужны для решения.
good_profit.loc[(good_profit['profit'] > 0)].info() # Выведем информацию о количестве отобранных строк.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  1478 non-null   object
 1   profit          1478 non-null   int64
dtypes: int64(1), object(1)
memory usage: 34.6+ KB

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [86]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

Решение:

In [87]:
max_revenue = data[['original_title','release_year','revenue']] # Выберем нужные столбцы
max_revenue = max_revenue[(max_revenue['release_year'] == 2008)] # Поместим данные о фильмах 2008 года в переменную
max_revenue.loc[max_revenue['revenue']== max_revenue.revenue.max()] # Выведем на экран самый кассовый фильм.

      original_title  release_year     revenue
599  The Dark Knight          2008  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [88]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

Решение:

In [89]:
min_revenue = data[['original_title','release_year','profit']] # Выберем нужные столбцы
min_revenue = min_revenue[(min_revenue['release_year'] >= 2012) & (min_revenue['release_year'] <= 2014)] 
min_revenue.loc[min_revenue['profit']== min_revenue.profit.min()] # Выведем на экран самый убыточный фильм.

       original_title  release_year     profit
1245  The Lone Ranger          2013 -165710090

# 11. Какого жанра фильмов больше всего?

In [90]:
answers['11'] = 'Drama' # +

Решение:

ВАРИАНТ 1

In [91]:
df11 = pd.read_csv('movie_bd_v5.csv')
pd.Series(df11['genres'].str.cat(sep='|').split('|')).value_counts()[:5]

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

In [92]:
data11 = pd.read_csv('movie_bd_v5.csv')
data11['genres'] = data11['genres'].apply(lambda x:x.split('|'))
Counter(data11.explode('genres')['genres']).most_common(5)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [93]:
answers['12'] = 'Drama' # +

Решение:

ВАРИАНТ 1

In [94]:
data12 = pd.read_csv('movie_bd_v5.csv')
data12['profit'] = data12['revenue'] - data12['budget']
import collections
profit_genres = data12[data12.profit > 0]
collections.Counter(profit_genres.genres.str.cat(sep = '|').split('|')).most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

ВАРИАНТ 2

In [95]:
profit_genres = data[data.profit > 0]
pd.Series(profit_genres['genres'].str.cat(sep='|').split('|')).value_counts()[:5]

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [96]:
answers['13'] = 'Peter Jackson' # +

Решение:

In [97]:
data13 = pd.read_csv('movie_bd_v5.csv')
info_director = data13
info_director['director'] = info_director['director'].apply(lambda x: x.split('|'))
info_director = info_director.explode('director')
info_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False)[0:5]

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [98]:
answers['14'] = 'Robert Rodriguez' # +

Решение:

In [99]:
data14 = pd.read_csv('movie_bd_v5.csv')
data14['profit'] = data14['revenue'] - data14['budget']
action_directors = data14[data14.genres.str.contains('Action', na = False)]
collections.Counter(action_directors['director'].str.cat(sep = '|').split('|')).most_common(5)

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [100]:
answers['15'] = 'Chris Hemsworth' # +

Решение:

In [101]:
data15 = pd.read_csv('movie_bd_v5.csv')
df = data15[['release_year', 'revenue', 'cast']] # Оставим только нужные столбцы
year_2012 = df[(df['release_year'] == 2012)] # Сделаем отдельный DF с данными за 2012 год
df_actors = year_2012[:]
df_actors['cast'] = df_actors['cast'].apply(lambda x: x.split('|')) # Представим столбец 'cast' как список
df_actors = df_actors.explode('cast')
df_actors = df_actors.groupby(['cast'])['revenue'].sum().sort_values(ascending = False)
df_actors[0:3]

cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [102]:
answers['16'] = 'Matt Damon' # +

Решение:

ВАРИАНТ 1

In [103]:
data16 = pd.read_csv('movie_bd_v5.csv')
big_budget = data16[data16.budget > data16.budget.mean()]
df_actor = big_budget[:]
df_actor['cast'] = df_actor['cast'].apply(lambda x:x.split('|'))
pd.Series(df_actor['cast'].sum()).value_counts().index[0]

'Matt Damon'

ВАРИАНТ 2

In [104]:
df16 = pd.read_csv('movie_bd_v5.csv')
df16['cast'] = df16['cast'].apply(lambda x: x.split('|'))
data_director = df16.explode('cast')
data_director.loc[df16.budget > df16.budget.mean()]['cast'].value_counts(ascending=False).head(5)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [105]:
answers['17'] = 'Action' # +

Решение:

In [106]:
data17 = pd.read_csv('movie_bd_v5.csv')
cage = data17[data17.cast.str.contains('Nicolas Cage')]
Counter(cage.genres.str.split('|').sum()).most_common(3)

[('Action', 17), ('Thriller', 15), ('Drama', 12)]

# 18. Самый убыточный фильм от Paramount Pictures

In [107]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

Решение:

In [108]:
data18 = pd.read_csv('movie_bd_v5.csv')
data18['profit'] = data18['revenue'] - data18['budget']
df2 = data18[['production_companies','original_title','profit']]
df2 = df2[:]
df2['production_companies'] = df2['production_companies'].apply(lambda x: x.split('|'))
production = df2.explode('production_companies')
production = production[(production['production_companies'] == 'Paramount Pictures')]
production.loc[(production['profit'] == production.profit.min())]

    production_companies        original_title    profit
925   Paramount Pictures  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [109]:
answers['19'] = '2015' # +

Решение:

In [110]:
data19 = pd.read_csv('movie_bd_v5.csv')
data19['profit'] = data19['revenue'] - data19['budget']
df = data19[['release_year','revenue']]
good_year = df.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
good_year[0:5]

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [111]:
answers['20'] = '2014' # +

Решение:

ВАРИАНТ 1

In [112]:
data20 = pd.read_csv('movie_bd_v5.csv')
data20['profit'] = data20['revenue'] - data20['budget']
df20 = data20[['production_companies','release_year','profit']]
df20 = df20[:]
df20['production_companies'] = df20['production_companies'].apply(lambda x: x.split('|'))
production2 = df20.explode('production_companies')
only_wb = production2[:]
only_wb['production_companies'] = only_wb['production_companies'].apply(lambda x: x.split())
only_wb = only_wb.explode('production_companies')
only_wb = only_wb[(only_wb['production_companies'] == 'Warner')]
only_wb = only_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
only_wb[0:3]

release_year
2014    2292949646
2007    2208217007
2008    2134595031
Name: profit, dtype: int64

ВАРИАНТ 2

In [113]:
data20a = pd.read_csv('movie_bd_v5.csv')
data20a['profit'] = data20a['revenue'] - data20a['budget']
only_wb2 = []
for i in range(len(data20a.production_companies)):
    if 'Warner' in data20a.production_companies.loc[i]:
        only_wb2.append(data20a.loc[i])
df_wb = pd.DataFrame(only_wb2)
df_wb = df_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
df_wb[0:3]

release_year
2014    2295464519
2007    2208217007
2008    2134595031
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [114]:
answers['21'] = 'September' # +

Решение:

In [115]:
from datetime import datetime # Вызовем модуль datetime.
data21 = pd.read_csv('movie_bd_v5.csv')
df21 = data21[['release_date']] # Оставим только нужный нам столбец.
df21 = df21[:] # Присвоим тип dataframe, чтобы JNotebook не ругался.
'''А далее создадим новый столбец с именами месяцев, через lambda'''
df21['month']=df21['release_date'].apply(lambda x : datetime.strptime(x, '%m/%d/%Y').strftime('%B'))
df21.month.value_counts() # Посчитаем самый продуктивный месяц. Это 'September'.

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [116]:
answers['22'] = '450' # +

Решение:

In [117]:
from datetime import datetime # Вызовем модуль datetime.
data22 = pd.read_csv('movie_bd_v5.csv')
df22 = data22[['release_date']] # Оставим только нужный нам столбец.
df22 = df22[:] # Присвоим тип dataframe, чтобы JNotebook не ругался.
'''А далее создадим новый столбец с именами месяцев, через lambda'''
df22['month'] = df22['release_date'].apply(lambda x : datetime.strptime(x, '%m/%d/%Y').strftime('%B'))
df_summer = df22[(df22['month'] == 'June') | (df22['month'] == 'July') | (df22['month'] == 'August')]
df_summer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_date  450 non-null    object
 1   month         450 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

# 23. Для какого режиссера зима – самое продуктивное время года?

In [118]:
answers['23'] = 'Peter Jackson' # +

Решение:

In [119]:
df23 = pd.read_csv('movie_bd_v5.csv')
df23['director'] = df23['director'].apply(lambda x:x.split('|')) # Разделим режиссеров.
df23['release_date'] = df23['release_date'].apply(lambda x: x.split('/')) # Разделим дату.
df23['month']=df23['release_date'].apply(lambda x: x[0]) # Выделим месяц.
pivot = df23.loc[df23['month'].isin(['12','1','2'])] # Оставим только зимние месяцы.
pivot['director'].value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [120]:
answers['24'] = 'Four By Two Productions' # +

Решение:

In [121]:
df24 = pd.read_csv('movie_bd_v5.csv')
df24 = df24[['production_companies','original_title']] # Оставим необходимые столбцы.
# А также создадим новый столбец, с количеством символов в названии фильмов.
df24['count_title'] = df24['original_title'].apply(lambda x: len(x))
df24['production_companies'] = df24['production_companies'].apply(lambda x: x.split('|'))
df24 = df24.explode('production_companies')
df24 = df24.groupby(['production_companies'])['count_title'].mean().sort_values(ascending = False)
df24

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: count_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [122]:
answers['25'] = 'Midnight Picture Show' # +

Решение:

In [123]:
df25 = pd.read_csv('movie_bd_v5.csv')
df25 = df25[['production_companies','overview']] # Оставим необходимые столбцы.
# А также создадим новый столбец, с количеством слов в названии фильмов.
df25['count_words'] = df25['overview'].apply(lambda x: len(x.split(' ')))
df25['production_companies'] = df25['production_companies'].apply(lambda x: x.split('|'))
df25 = df25.explode('production_companies')
df25 = df25.groupby(['production_companies'])['count_words'].mean().sort_values(ascending = False)
df25

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: count_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в один процент лучших по рейтингу?

In [124]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

Решение:

ВАРИАНТ 1

In [125]:
df26 = pd.read_csv('movie_bd_v5.csv')
df26 = df26[['original_title','vote_average']]
df26 = df26.sort_values(by='vote_average').tail(int(df26.original_title.count()/100)).original_title
df26 = df26.tolist()
df26

['The Theory of Everything',
 'The Lord of the Rings: The Two Towers',
 'There Will Be Blood',
 'Mr. Nobody',
 '12 Years a Slave',
 'The Pianist',
 'Gone Girl',
 'Memento',
 'Guardians of the Galaxy',
 'Inception',
 'The Wolf of Wall Street',
 'The Grand Budapest Hotel',
 'The Lord of the Rings: The Return of the King',
 'Room',
 'Interstellar',
 'Inside Out',
 'The Imitation Game',
 'The Dark Knight']

ВАРИАНТ 2

In [126]:
df26a = pd.read_csv('movie_bd_v5.csv')
df26a = df26a.sort_values('vote_average')[['original_title', 'vote_average']]
df26a = df26a.sort_values('vote_average', ascending=False)
df26a.query('vote_average >= vote_average.quantile(0.99)')

                                         original_title  vote_average
599                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
1800                                            Memento           7.9
1191                                   12 Years a Slave           7.9
872                                         The Pianist           7.9
128                                           Gone Girl           7.9
119                             Guardians of the Galaxy           7.9
370                                           Inception           7.9
1183                            The Wolf of Wall Street           7.9
138                            The Grand Budapest Hotel           7.9
1081      The Lord of the Rings: The Return of the King           7.9
177                              The Fault in Our Stars           7.8
1205                                          Prisoners           7.8
124                                          Big Hero 6           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8
28                                            Spotlight           7.8
1444                                       The Prestige           7.8
1188                                                Her           7.8
316                                            3 Idiots           7.8
1213                                 Dallas Buyers Club           7.8
155                            The Theory of Everything           7.8
863               The Lord of the Rings: The Two Towers           7.8
1688                                There Will Be Blood           7.8
283                                          Mr. Nobody           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [127]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

Решение:

In [133]:
'''Для решения задачи понадобятся дополнительные модули:'''
import itertools
import collections
data27 = pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].str.split('|') # Разделим актеров.
data_p = data27['cast'].reset_index()
data_p['pairs'] = data_p['cast'].apply(lambda s: list(itertools.combinations(s, 2)))
data_p = data_p.explode('pairs').reset_index()
collections.Counter(data_p['pairs']).most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

# Submission

In [137]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '4': '110'}

In [138]:
# и убедиться что ни чего не пропустил)
len(answers)

27